<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>任务管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/controller/taskController.js"></script>
    <script type="text/javascript" src="../js/service/taskService.js"></script>
    <script type="text/javascript" src="../js/service/userService.js"></script>
    <script type="text/javascript" src="../js/service/projectService.js"></script>
</head>


<body class="hold-transition skin-red sidebar-mini" ng-app="tasksystem" ng-controller="taskController"
      ng-init="getAll()">
<!--box-body -->
<div class="box-header with-border">
    <h3 class="box-title">任务管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-ban"></i>
                        删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新" ng-click="reloadList()"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                项目姓名：<input>
                <button class="btn btn-default">查询</button>
            </div>
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">taskId</th>
                <th class="sorting">projectName</th>
                <th class="sorting">userName</th>
                <th class="sorting">taskName</th>
                <th class="sorting">taskStepStatus</th>
                <th class="sorting">taskStatus</th>
                <th class="sorting">操作列</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td><input type="checkbox" ng-click="updateSelection($event,entity.taskId)"></td>
                <td>{{entity.taskId}}</td>
                <td>{{entity.projectName}}</td>
                <td>{{entity.userName}}</td>
                <td>{{entity.taskName}}</td>
                <td>
                    <progress max="{{3*entity.taskStepStatus.length}}"
                              value="{{sum(entity.taskStepStatus)}}"></progress>
                </td>
                <td>{{taskStatusList[entity.taskStatus]}}</td>
                <td>
                    <input type="button" class="btn btn-success" ng-click="openModel(entity.taskId)" value="修改">
                    <input type="button" class="btn btn-success" ng-click="openModel(entity.taskId)" value="审查">
                    <input type="button" class="btn btn-success" ng-click="deleOne(entity.taskId)" value="删除">
                </td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 模态框插件-任务列表显示 -->
<div class="modal fade" id="taskModel">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 800px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearModel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">任务详情</h4>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    任务名 : <input type="text" ng-model="entity.taskName">
                </div><!-- /input-group -->
                <br>
                <div class="input-group">
                    项目状态 :
                    {{taskStepStatusList[entity.taskStatus]}}
                </div><!-- /input-group -->
                <br>
                <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="sorting">taskStep</th>
                        <th class="sorting">taskStepStatus</th>
                        <th class="sorting">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="taskStep in taskStepList">
                        <td>{{taskStep}}</td>
                        <td>{{taskStepStatusList[(taskStepStatus[$index])]}}</td>
                        <td>
                            <input type="button" value="完成" parm="1" ng-click="changeStatus(this.parm,$index)">
                            <input type="button" value="驳回" parm="2" ng-click="changeStatus(this,$index)">
                            <input type="button" value="通过" parm="3" ng-click="changeStatus(this,$index)">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearModel()">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="startCheckBtn" ng-click="save()">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>

</html>