<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.talenco.tasksystem.dao.ProjectDao">

    <resultMap id="BaseResultMap" type="com.talenco.tasksystem.entity.Project">
        <id column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="project_description" property="projectDescription" jdbcType="VARCHAR"/>
        <result column="sample_path" property="samplePath" jdbcType="VARCHAR"/>
        <result column="project_status" property="projectStatus" jdbcType="BIGINT"/>
        <result column="step_count" property="stepCount" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id,
        project_name,
        project_description,
        sample_path,
        project_status,
        step_count
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM project
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM project
        WHERE project_id = #{projectId}
    </select>

    <insert id="insert" parameterType="com.talenco.tasksystem.entity.Project">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="projectId">
            SELECT LAST_INSERT_ID() AS projectId
        </selectKey>
        INSERT INTO
            project
            (project_id,project_name, project_description, sample_path, project_status,step_count
            )
        VALUES
            (#{projectId},#{projectName},#{projectDescription},#{samplePath},#{projectStatus},#{stepCount})
    </insert>

    <update id="update" parameterType="com.talenco.tasksystem.entity.Project">
        UPDATE
            project
        SET
        project_name = #{projectName},
        project_description = #{projectDescription},
        sample_path = #{samplePath},
        project_status = #{projectStatus},
        step_count = #{stepCount}
        WHERE
            project_id = #{projectId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM
            project
        WHERE
            project_id = #{projectId}
    </delete>

</mapper>
