<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.talenco.tasksystem.dao.TaskDao">

    <resultMap id="BaseResultMap" type="com.talenco.tasksystem.entity.Task">
        <id column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="task_step_list" property="taskStepList" jdbcType="VARCHAR" />
        <result column="task_step_status" property="taskStepStatus" jdbcType="VARCHAR" />
        <result column="task_step_link" property="taskStepLink" jdbcType="VARCHAR" />
        <result column="task_status" property="taskStatus" jdbcType="BIGINT"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,
        project_name,
        user_name,
        task_step_list,
        task_step_status,
        task_step_link,
        task_status,
        task_name
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
    </select>

    <select id="searchByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE user_name = #{username}
    </select>

    <select id="searchByProjectName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE project_name = #{projectName}
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE task_id = #{taskId}
    </select>

    <insert id="insert" parameterType="com.talenco.tasksystem.entity.Task">
        INSERT INTO
            task
            (task_id,user_name, real_name, password, role
            )
        VALUES
            (#{taskId},#{userName},#{realName},"123456",#{role})
    </insert>

    <update id="update" parameterType="com.talenco.tasksystem.entity.Task">
        UPDATE
            task
        SET
        user_name = #{userName},
        real_name = #{realName}
        WHERE
            task_id = #{taskId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM
            task
        WHERE
            task_id = #{taskId}
    </delete>

</mapper>
