<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.talenco.tasksystem.dao.TaskDao">

    <resultMap id="BaseResultMap" type="com.talenco.tasksystem.entity.Task">
        <id column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="task_status" property="taskStatus" jdbcType="BIGINT"/>
        <result column="task_step_status" property="taskStepStatus" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,
        task_name,
        project_id,
        project_name,
        user_name,
        task_status,
        task_step_status
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
    </select>

    <select id="searchByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE user_name = #{username}
    </select>

    <select id="searchByProjectId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE project_id = #{projectId}
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM task
        WHERE task_id = #{taskId}
    </select>

    <insert id="insert" parameterType="com.talenco.tasksystem.entity.Task">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="taskId">
            SELECT LAST_INSERT_ID() AS taskId
        </selectKey>
        INSERT INTO
            task
            (task_id,task_name, project_id, project_name, user_name,task_status,task_step_status
            )
        VALUES
            (#{taskId},#{taskName},#{projectId},#{projectName},#{username},#{taskStatus},#{taskStepStatus})
    </insert>

    <update id="update" parameterType="com.talenco.tasksystem.entity.Task">
        UPDATE
            task
        SET
            task_name = #{taskName},
            user_name = #{username},
            task_status = #{taskStatus},
            task_step_status = #{taskStepStatus}
        WHERE
            task_id = #{taskId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM
            task
        WHERE
            task_id = #{taskId}
    </delete>

</mapper>
