<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.talenco.tasksystem.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.talenco.tasksystem.entity.User">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="user_name" property="username" jdbcType="VARCHAR"/>
        <result column="real_name" property="realname" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,
        user_name,
        real_name,
        role
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
    </select>

    <select id="getManager" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE role = 2
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE user_name = #{username}
    </select>

    <insert id="insert" parameterType="com.talenco.tasksystem.entity.User">
        INSERT INTO
            user
            (user_id,user_name, real_name, password, role
            )
        VALUES
            (#{userId},#{username},#{realname},"123456",#{role})
    </insert>

    <update id="update" parameterType="com.talenco.tasksystem.entity.User">
        UPDATE
            user
        SET
        user_name = #{username},
        real_name = #{realname},
        role = #{role}
        WHERE
        user_id = #{userId}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM
            user
        WHERE
            user_id = #{userId}
    </delete>

</mapper>
